.card
    .card-content
        .card-front
            h3.card-title The Fair
            p.card-subtitle Time for some fun
        .card-back
            p.card-body This would be some longer text that gives a description of the things from the other side I guess

